@charset "utf-8";
li{list-style: none;}
img{width: 100%;}
a{text-decoration: none; color: #333; display: block; text-align: center;}

.page-main{width: 1140px; margin: auto; /* padding: 0 10px 100px; */}
.gallery{margin: 0; padding: 0;}
.gallery::after{content: ""; clear: both; display: block;}

.gallery-item{float: left; /* margin-right: 10px; margin-top: 10px;  */background: #d1e97a; animation: fadeIn 1s; width: 270px;  box-sizing: border-box; margin-bottom: 20px;}
.gallery-item:nth-child(4n){margin-right: 0;}
.gallery-item--width2 { width: 400px; }

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.gallery-item.is-loading{opacity: 0;}
.load-more{background: lightsalmon; color: #fff; cursor: pointer; padding: 10px 20px; border: none; width: 100%;}